{% extends 'layouts/base.html.twig' %}

{% block title 'Bienvenue | ' ~ parent() %}


{% block body %}
	{# Inclure le header #}
	<section id="hero" class="perso_bg-primary">
		{% include "layouts/header-home.html.twig" %}
	</section>

	{# Affichage des cours par catégorie #}
	<section id="ressuage" class="container">
		{% include "cours/ressuage/show_ressuage.html.twig" %}
	</section>

	<section id="magnetoscopie" class="container">
		{% include "cours/magnetoscopie/show_magnetoscopie.html.twig" %}
	</section>

	<section id="ultrason" class="container">
		{% include "cours/ultrason/show_ultrason.html.twig" %}
	</section>

	<section id="radiographie" class="container">
		{% include "cours/radiographie/show_radiographie.html.twig" %}
	</section>

		

{% endblock %}
