<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Technilearn{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- GlphIcon Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Css Main -->
    <link rel="stylesheet" href="styles/main.css">
    {% endblock %}

    {% block javascripts %}
    <!-- JS Bootstrap -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</head>

<body>

    <header>
        {% include "layouts/partials/_navbar.html.twig" %}
    </header>

    <main role="main">
        {% block body %}{% endblock %}
    </main>

    <footer class="footer mt-5 py-3 bg-dark">
        {% include "layouts/partials/_footer.html.twig" %}
    </footer>


</body>

</html>