	{# Page Content #}
		<div
			class="container">
			{# Hero Section #}
			<div class="row align-items-center g-0">
				<div class="col-xl-5 col-lg-6 col-md-12">
					<div class="py-5 py-lg-0">
						<h1 class="text-white display-5 fw-bold">Bienvenue sur l'application E-Learning Technisonic
						</h1>
						<p class="text-white-50 mb-4 lead">
							Des cours élaborés par des experts, conçus pour les étudiants et les techniciens modernes.
						</p>
						<a href="#" class="btn perso_btn-success mb-5">Se connecter</a>
						<a href="#" class="btn perso_btn-white mb-5">Demander un accès</a>
					</div>
				</div>
				<div class=" col-xl-7 col-lg-6 col-md-12 text-lg-end text-center">
					<img src="assets/images/bridevproject-logo.png" width="400" height="400" alt="" class="img-fluid"/>
				</div>
			</div>
		</div>
	</section>


	<section id="sub-hero" class="bg-white py-4 shadow-sm">
		<div class="container">
			<div
				class="row align-items-center g-0">
				{# Features #}
				<div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
					<div class="d-flex align-items-center">
						<span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
							<i class="fe fe-video"></i>
						</span>
						<div class="ms-3">
							<h4 class="mb-0 fw-semi-bold"> {{ courses|length }} cours en ligne</h4>
							<p class="mb-0">Profitez d'une variété de sujets frais</p>
						</div>
					</div>
				</div>
				{# Features #}
				<div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
					<div class="d-flex align-items-center">
						<span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
							<i class="fe fe-users"></i>
						</span>
						<div class="ms-3">
							<h4 class="mb-0 fw-semi-bold">Des cours pertinents</h4>
							<p class="mb-0">Révisez et préparer vos COFREND</p>
						</div>
					</div>
				</div>
				{# Features #}
				<div class="col-xl-4 col-lg-4 col-md-12">
					<div class="d-flex align-items-center">
						<span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
							<i class="fe fe-clock"></i>
						</span>
						<div class="ms-3">
							<h4 class="mb-0 fw-semi-bold">Facile d'accès</h4>
							<p class="mb-0">Apprenez selon votre emploi du temps</p>
						</div>
					</div>
				</div>
			</div>
		</div>