<h2 class="my-5">Ultrason</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
	{% for cours in courses %}

		{% if (cours.categorie == "ultrason" ) %}

			<div class="col">
				<div class="card h-100">
					<img src="{{ asset('assets/images/cours/' ~cours.categorie ) }}.png" class="card-img-top img-fluid" alt="{{ cours.categorie }}" height="250">
					<div class="card-body">
						<h2 class="h5 card-title">
							<a href="#">{{ cours.titre }}</a>
						</h2>

						<p class="mt-4 card-text">
							{{ cours.contenu | u.truncate(140, '...', false) }}
						</p>
						<p class="card-text">
							<small class="text-muted">
								Le
								{{ cours.createdAt | datetime }}
								<br>
								Par
								{{ cours.formateur }}
							</small>
						</p>
						<div class="d-flex justify-content-space-between" id="action">
							<a class="btn-sm btn btn-outline-primary" href="{{ path('app_cours_show', {'id': cours.id} ) }}">
								Lire le cours
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>