<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
             <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="assets/images/bridevproject-logo.png" alt="" width="50" height="50"
                   class="d-inline-block align-text-center bg-white rounded-circle">
                E-Learning Technisonic
             </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ path('app_all_courses') }}">Tous les cours</a>
               </li>
               <li class="nav-item dropdown">
                  <a id="category" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                     Catégorie
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {# <li><a class="dropdown-item" href="{{ path('app_cours_byCategory', {'categorie': categorie.nom}) }}">Ressuage</a></li> #}
                     <li><a class="dropdown-item" href="#">Ressuage</a></li>
                     <li><a class="dropdown-item" href="#">Magnétoscopie</a></li>
                     <li><a class="dropdown-item" href="#">Ultrason</a></li>
                     <li><a class="dropdown-item" href="#">Radiographie</a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="#">Procédure qualifié UT</a></li>
                     <li><a class="dropdown-item" href="#">Procédure qualifié RT</a></li>
                        <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="#">Entrainement au Cofrend II</a></li>
                  </ul>
               </li>
               </ul>
            </ul>
            <form class="d-flex">
               <input class="form-control me-2" type="search" placeholder="Rechercher un cours" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
         </div>
      </div>
   </nav>