.perso_bg-primary {
    background-color: #07689F !important;
}

.perso_btn-success {
    color: #fff;
    background-color: #19cb98;
    border-color: #19cb98;
}

.perso_btn-check:focus+.btn-success,
.perso_btn-success:focus,
.perso_btn-success:hover,
.perso_btn-check:focus+.btn-white,
.perso_btn-white,
.perso_btn-white:focus,
.perso_btn-white:hover {
    color: #fff;
    background-color: #15ad81;
    border-color: #14a27a;
}

.perso_btn-check:focus+.btn-white,
.perso_btn-white,
.perso_btn-white:focus {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}