{% extends 'layouts/base.html.twig' %}

{% block title 'Tous les cours | ' ~ parent() %}

{% block body %}
	<h2 class="my-5 h3 text-center">Tous nos cours</h2>

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mx-1">
		{% for cours in courses %}
			<div class="col">
				<div class="card h-100">
					<img src="{{ asset('assets/images/cours/' ~cours.categorie ) }}.png" class="card-img-top img-fluid" alt="{{ cours.categorie }}" height="250">
					<div class="card-body">
						<h2 class="h5 card-title">
							<a href="#">{{ cours.titre }}</a>
						</h2>

						<p class="mt-4 card-text">
							{{ cours.contenu | u.truncate(140, '...', false) }}
						</p>
						<p class="card-text">
							<small class="text-muted">
								{{ cours.createdAt | datetime }}
								<br>
								{{ cours.formateur }}
							</small>
						</p>
						<div class="d-flex justify-content-space-between" id="action">
							<a class="btn-sm btn btn-outline-primary" href="{{ path('app_cours_show', {'id': cours.id} ) }}">
								Lire le cours
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
