{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{cours.categorie|capitalize}}
	| Cours n°
	{{cours.id}}
{% endblock %}

{% block body %}

<div class="container mt-3">
	<div class="row">
		<div
			class="col-lg-8">
			{# Affichafge du cours #}
			<section>
				<div
					class="mb-4">
					{# Cours titre #}
					<h1 class="fw-bolder p-2 mb-1 text-center text-info bg-dark rounded">{{cours.titre}}</h1>
					{# Informations sur le cours #}
					<div
						class="my-3 d-flex justify-content-between mx-2">
						{# Auteur du cours #}
						<span class="text-muted fst-italic">
							{{cours.formateur}}
						</span>
						{# date de publication #}
						<span class="text-muted fst-italic">Le
							{{cours.createdAt|datetime}}</span>
						{# Catégorie(s) du cours #}
						<span class="p-2 h6 badge rounded-pill bg-primary">{{cours.categorie|capitalize}}</span>
					</div>
				</div>

				{# Affichage de l'image #}
				<figure class="mt-0 mb-3">
					<img class="img-fluid rounded" src="{{ asset('assets/images/cours/' ~cours.categorie ) }}.png" alt="..."/>
				</figure>

				{# Contenu du cours #}
				<section id="content-cours" class="mb-5">
					<p class="lead">
						{{ cours.contenu | raw}}
					</p>
				</section>
			</div>
			{# Sidebar 1 => Sommaire du cours -- Commment automatiser le sommaire ?#}
			<section class="col-lg-4">
				<div id="sommaire" class="list-group mb-5">
					<h2 class="list-group-item list-group-item-action list-group-item-action bg-dark text-info text-center h1 rounded">Sommaire</h2>
					<a href="#principe" class="list-group-item list-group-item-action border-top rounded">Principe</a>
					<a href="#mode_examen" class="list-group-item list-group-item-action">Mode d'examen</a>
					<a href="#domaine" class="list-group-item list-group-item-action">Domaines d'application</a>
					<a href="#interets" class="list-group-item list-group-item-action">Intérêts de la méthode</a>
					<a href="#normes" class="list-group-item list-group-item-action">Normes associées</a>
				</div>

				{# Sidebar 2 => Demarrer un quiz #}
				<div id="sommaire" class="list-group mb-5">
					<h2 class="list-group-item list-group-item-action list-group-item-action bg-dark text-info text-center h1 rounded">Quiz</h2>
					<div class="alert alert-success ">
						<p class="lead"> C'est le moment de tester vos connaissances, lancer le questionnaire ? </p>
						<a href="#" class="btn btn-success d-block mx-auto w-50">C'est parti !</a>
					</div>
					{# <a href="#principe" class="list-group-item list-group-item-action">Principe</a> #}
				</div>

			</section>
		</div>
	</section>
</div> 
{% endblock %}
